/* Hide bigNav */
@media screen and (max-width: 600px) {
  #bigNav {
    display: none;
  }
  .nav-item {
    display: none;
  }
  .mobileNav {
    overflow: hidden;
    position: relative;
    padding-left: 15px;
    padding-top: 15px;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .mobileNav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .mobileNav .mobileLinks {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .mobileNav .mobileLinks.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #04aa6d;
    color: white;
  }
}
@media screen and (min-width: 600px) {
  .nav {
    display: flex;
  }
  .mobileNav {
    display: none;
  }
}
