.bookResults {
  margin: auto;
  width: 100%;
  height: 45%;
  border: 3px solid #ccd5ae;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
}
.bookImg {
  align-self: center;
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
}
.resultsIcon {
  width: 45%;
  height: 45%;
}
